footer {
    position: relative;
    background-color: $color-dark;
    z-index: 1;

    .footer-social {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        gap: 25px;

        @include lg-down-device{
            justify-content: center;
            margin-bottom: 15px;
        }
        li{
            a{
                color: $text-light;
                @include transition-4;
            }
            &:hover{
                a{
                    color: $color-primary;
                }
            }
        }
    }

    .footer-item {
        text-align: left;
        color: $color-white;
        > h4 {
            margin-bottom: 20px;
            font-size: 22px;
        }
        p {
            color: $text-light;
            font-size: 15px;
        }
    }

    .footer-title{
        font-size: 20px;
        color: $color-white;
        margin-bottom: 15px;
        line-height: 1;
        position: relative;
        padding-bottom: 10px;
        position: relative;

        &::before{
            content: '';
            position: absolute;
            left: -15px;
            top: -15px;
            width: 40px;
            height: 40px;
            background-color: rgba(255, 255, 255, 0.1);
            border-radius: 50%;
        }


        @include md-down-device{
            font-size: 18px;
        }
    }
    .footer-menu {
        li {
            margin-bottom: 12px;
            &:last-child{
                margin-bottom: 0px;
            }
            a {
                color: $text-primary;   
                display: inline-block;
                color: $text-light;
                cursor: pointer;
                @include transition-4;
                &:hover {
                    color: $color-primary;
                    i{
                        color: $color-primary;
                        margin-right: 10px;
                    }
                }
                i{
                    font-size: 15px;
                    margin-right: 5px;
                    @include transition-4;
                    line-height: 1;
                }
            }
        }
    }



    .footer-bottom {
        margin-top: 90px;
        padding: 20px 0 20px;
        border-top: 1px solid rgba(255, 255, 255, 0.1);
        p {
            color: $text-light;
            font-size: 13px;
        }
    }
    p{
        color: $text-light;
        font-size: 15px;
    }
}

.footer-address-wrapper{
    position: relative;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    z-index: 1;
    flex-wrap: nowrap;
    gap: 25px;

    @include lg-down-device{
        flex-wrap: wrap;
    }

    .address-item{
        text-align: left;

        h6{
            font-size: 15px;
            color: $color-white;
            margin-bottom: 6px;
            text-transform: uppercase;
        }
        .address{
            text-decoration: none;
            color: $text-light;
            font-size: 16px;
        }
    }
}

.footer-logo{
    max-width: 220px;
    @include lg-down-device{
        max-width: 150px;
    }
}

.footer-big-title{
    h3{
        font-size: 45px;
        color: $color-white;

        @include md-device{
            font-size: 40px;
        }
        @include md-down-device{
            font-size: 32px;
        }
    }
}

.input-wrapper {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    align-items: center;
    backdrop-filter: blur(3px);
    padding: 1px;
    overflow: hidden;
    border-radius: 0px;

    &.style-two{
        input{
            background-color: $bg-light;
            border: 1px solid $color-border;
            border-radius: 30px 0 0 30px;
            color: $text-primary;
            &:focus{
                border: 1px solid $color-primary;
              }
          
        }
        button{
            border-radius: 0 30px 30px 0;
            min-width: 60px;
        }
    }
  
    &:hover {
      button {
        i {
          transform: rotate(45deg);
        }
      }
    }
  
    input {
      border: none;
      height: 50px;
      border: none;
      color: $color-white;
      padding: 0 15px;
      font-size: 16px;
      background-color: $color-dark;
      border-bottom: 1px solid $border-light;
      @include transition-4;

      &:focus{
        border-bottom: 1px solid $color-primary;
      }
  
      &::placeholder {
        color: $text-light;
      }
      @include md-down-device{
        height: 45px;
      }
    }
    button {
      background-color: $color-primary;
      color: $text-primary;
      height: 50px;
      line-height: 1;
      display: inline-flex;
      min-width: 90px;
      justify-content: center;
      align-items: center;
      padding: 10px 15px;
      border-radius: 50px;
  
      @include md-down-device{
        height: 45px;
      }
  
      i {
        margin-left: 5px;
        font-size: 18px;
        @include transition-3;
        color: $color-white;
      }
    }
  }

  .footer-vector{
    position: absolute;
    top: 0%;
    transform: translateY(50%);
    right: 10px;
    max-width: 150px;
    opacity: 0.1;
  }