footer {
    position: relative;
    // background-color: $color-dark;
    z-index: 1;

    .footer-social {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        gap: 15px;
        margin-top: 30px;
        a {
            @include square(40px, 50%);
            display: flex;
            align-items: center;
            justify-content: center;
            vertical-align: middle;
            overflow: hidden;
            background-color: transparent;
            border: 1px solid $border-light;
            opacity: 1;
            @include transition-3;

            &:hover{
                background-color: $color-primary;
                svg{
                    fill: $text-primary;
                }
            }

            svg {
                width: 14px;
                height: 14px;
                fill: $color-primary;
            }
        }
    }

    .footer-item {
        text-align: left;
        color: $color-white;
        > h4 {
            margin-bottom: 20px;
            font-size: 22px;
        }
        p {
            color: $text-light;
            font-size: 15px;
        }
    }

    .footer-title{
        font-size: 20px;
        color: $color-white;
        margin-bottom: 25px;
        line-height: 1;
        position: relative;
        padding-bottom: 10px;
        
        &::before{
            content: '';
            position: absolute;
            left: 0;
            bottom: 0;
            width: 40px;
            height: 2px;
            border-radius: 4px;
            display: block;
            background-color: var(--color-primary);
          }

        @include md-down-device{
            font-size: 18px;
        }
    }
    .footer-menu {
        li {
            margin-bottom: 12px;
            &:last-child{
                margin-bottom: 0px;
            }
            a {
                color: $text-primary;   
                display: inline-block;
                color: $text-light;
                cursor: pointer;
                @include transition-4;
                &:hover {
                    color: $color-primary;
                    i{
                        color: $color-primary;
                        margin-right: 10px;
                    }
                }
                i{
                    font-size: 15px;
                    margin-right: 5px;
                    @include transition-4;
                    line-height: 1;
                }
            }
        }
    }

    .footer-address{
        li{
            color: $text-light;
            margin-bottom: 25px;

            &:last-child{
                margin-bottom: 0px;
            }
            a{
                font-size: 16px;
                color: inherit;
                text-decoration: none;
            }

            i{
                font-size: 20px;
                vertical-align: middle;
                margin-right: 10px;
                margin-bottom: 10px;
                @include linear-text1;
                float: left;
                clear: both;
            }
        }
    }

    .footer-bottom {
        margin-top: 90px;
        padding: 20px 0 20px;
        border-top: 1px solid rgba(255, 255, 255, 0.1);
        p {
            color: $text-light;
            font-size: 13px;
        }
    }

    .newsletter-box{
        p{
            font-size: 15px;
            color: $text-light;
        }
    }
}

.footer-address-wrapper{
    margin-top: 70px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1;
    flex-wrap: nowrap;
    gap: 15px;

    @include lg-down-device{
        flex-wrap: wrap;
    }

    &::after{
        content: '';
        position: absolute;
        left: 0;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
        display: block;
        width: 100%;
        height: 1px;
        background-color: $border-light;
        z-index: -1;

        @include lg-down-device{
            content: unset;
        }
    }

    .address-item{
        border: 1px solid $border-light;
        padding: 18px 40px;
        text-align: center;
        border-radius: 100px;
        min-width: 200px;
        background-color: $color-dark;

        @include lg-down-device{
            min-width: 100%;
            max-width: 100%;
        }

        .icon{
            margin-bottom: 5px;
            i{
                color: $color-primary;
                font-size: 26px;
            }
        }
        h6{
            font-size: 15px;
            color: $color-white;
            margin-bottom: 3px;
        }
        .address{
            text-decoration: none;
            color: $text-light;
            font-size: 14px;
        }
    }
}

.footer-logo{
    max-width: 160px;
}
