a{
    color: $text-secondary;
}
.form-title {
    font-size: 26px;
    margin-bottom: 30px;
    font-weight: 500;
    position: relative;
    z-index: 1;

    @include md-down-device{
        font-size: 22px;
    }

    &::before{
        content: '';
        position: absolute;
        left: -15px;
        top: -3px;
        width: 35px;
        height: 35px;
        background-color: $color-primary-light;
        border-radius: 50%;
        z-index: -1;
    }
}
.form-inner {
    margin-bottom: 20px;
    z-index: 1;
    display: flex;
    flex-direction: column;
}

.form-wrapper{
    padding: 40px 40px;
    background-color: $color-white;

    &.login-form{
        width: 100%;
        max-width: 500px;
        margin-left: auto;
        margin-right: auto;
    }

    &.style-two{
        padding: 0;
        input{
            border: 1px solid $color-border;
            &:focus{
                border: 1px solid $color-primary;
            }
        }
    }

    @include xl-device{
        padding: 35px 30px;
    }
    @include lg-device{
        padding: 35px 30px;
    }

    @include lg-down-device{
        padding: 30px 30px;
    }
}

.form-inner {
    position: relative;
    input[type="date"] {
        z-index: 1;
        background-color: transparent;

        &::after {
            content: "\F1E2";
            position: absolute;
            right: 10px;
            top: 9px;
            font-family: "Bootstrap-icons";
            z-index: 9;
        }
    }
}

label {
    font-size: 14px;
    color: $text-primary;
    margin-bottom: 5px;
    font-weight: 500;
}

input {
    background-color: transparent;
    outline: none;
    border: 1px solid $color-border;
    width: 100%;
    display: block;
    padding: 10px 15px;
    border-radius: 0px;
    font-size: 16px;
    color: $text-secondary;
    @include transition-4;

    @include lg-down-device {
        padding: 8px 15px;
    }

    &:focus {
        border: 1px solid $color-primary;
    }

    &::placeholder {
        font-size: 13px;
        color: $text-secondary;
    }
}
textarea {
    @extend input;
    min-height: 100px;
}

select{
    background-color: transparent;
    outline: none;
    border: 1px solid $color-border;
    width: 100%;
    display: block;
    padding: 8px 15px;
    border-radius: 0px;
    font-size: 16px;
}

input[type="color"] {
    background-color: transparent;
    outline: none;
    height: 40px;
    padding: 5px;
}

input[type="file"] {
    background-color: transparent;
    outline: none;
    // height: 40px;
    padding: 10px;
}

input[type="checkbox"] {
    min-width: 15px !important;
    height: 15px;
    border-radius: 2px !important;
    padding: 0;
    display: inline-block;
    cursor: pointer;

    &:focus {
        box-shadow: none;
    }
}
.form-check-input:checked {
    background-color: $color-primary;
    border-color: $color-primary;
    border: 1px solid $color-white;
}

input[type="radio"] {
    min-width: 15px !important;
    height: 15px;
    padding: 0;
    display: inline-block;

    &:focus {
        box-shadow: none;
    }
}


select {
    width: 100% !important;
    display: block;
}

.select2.select2-container {
    width: 100% !important;
}
.select2-container .select2-selection--single {
    box-sizing: border-box;
    cursor: pointer;
    display: block;
    width: 100% !important;
    height: 44px;
    line-height: 44px;
    user-select: none;
    -webkit-user-select: none;
    background-color: $site-bg !important;

}
.select2-container--default .select2-selection--single {
    @include border-gradient;
    border-radius: 4px;
    background-color: $site-bg;
}
.select2-container--default .select2-selection--single .select2-selection__rendered {
    color: $text-secondary;
    line-height: 40px;
    font-size: 14px;
    padding-left: 15px;
}
.select2-container--default .select2-selection--single .select2-selection__arrow {
    height: 40px;
}
.select2-container--default .select2-selection--single .select2-selection__arrow {
    height: 26px;
    position: absolute;
    top: 7px;
    right: 6px;
    width: 20px;
}
.select2-dropdown{
    background-color: $site-bg;
}
.select2-container--default .select2-results__option--selected{
    @include linear-bg;
    color: $color-white;
}

// Date Picker
.flatpickr-day.startRange {
    background-color: $color-primary;
    border-color: $color-primary;
}
.flatpickr-day.endRange {
    background-color: $color-primary;
    border-color: $color-primary;
}
.flatpickr-day.selected {
    background-color: $color-primary;
    border-color: $color-primary;

    &:hover {
        border-color: $text-secondary;
        background-color: $text-secondary;
    }
}

.sign-other-title {
    margin-top: 20px;
    text-align: center;
    position: relative;
    z-index: 1;

    &::before {
        content: "";
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        display: flex;
        width: 100%;
        height: 1px;
        background-color: $color-border;
        z-index: -1;
    }
    h6 {
        color: $text-secondary;
        background-color: $color-white;
        display: inline-block;
        padding: 15px;
    }
}

.signup-buttons-group {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    button {
        box-shadow: none;
        background-color: unset;
        transition: 0.3s;
        display: inline-block;
        &:hover {
            transform: translateY(3px);
        }
        i {
            &.facebook {
                color: rgb(69, 100, 255);
            }
            &.google {
                color: rgb(203, 0, 0);
            }

            &.twitter {
                color: rgb(2, 176, 224);
            }
        }
    }
}

.have-account {
    text-align: center;
    margin-top: 25px;
    p {
        color: $text-secondary;
        font-size: 16px;
        @include md-down-device{
            font-size: 14px;
        }
    }
    a {
        color: $text-primary;
        font-size: 16px;
        font-weight: 600;
        transition: 0.4s ease;
        margin-left: 5px;
        &:hover{
            color: $color-primary;
        }
    }
}

.forgot-pass {
    color: $text-secondary !important;
    font-size: 14px;
    font-weight: 600;
    text-decoration: underline !important;
    @include transition-3;
    &:hover {
        color: $color-primary !important;
    }
}

.unlock-account {
    text-align: center;
    margin-bottom: 30px;
    .image {
        width: 80px;
        height: 80px;
        border-radius: 50%;
        overflow: hidden;
        margin: 0 auto 10px;
    }
    h5 {
        font-size: 18px;
        font-weight: 600;
        margin-bottom: 30px;
    }
}

.uploadFile {
    width: 100%;
    background-color: white;
    font-size: 16px;
    overflow: hidden;
    padding: 10px 10px 10px 10px;
    position: relative;
    resize: none;
    height: 90px;
    [type="file"] {
        cursor: pointer !important;
        display: block;
        min-height: 100%;
        min-width: 100%;
        opacity: 0;
        position: absolute;
        right: 0px;
        text-align: right;
        top: 0px;
        z-index: 1;
    }
    span {
        display: inline-block;
        font-size: 14px;
        color: $text-light;
        font-weight: 400;
    }
}


.form-group input {
    padding: 0;
    height: initial;
    width: initial;
    margin-bottom: 0;
    display: none;
    cursor: pointer;
}

.form-group label {
    position: relative;
    cursor: pointer;
    margin-bottom: 0;
}

.form-group label:before {
    content: "";
    -webkit-appearance: none;
    background-color: transparent;
    border: 1px solid $color-border;
    padding: 10px;
    display: inline-block;
    position: relative;
    vertical-align: middle;
    cursor: pointer;
    margin-right: 5px;
    top: -1px;
}

.form-group input:checked + label:after {
    content: "";
    display: block;
    position: absolute;
    top: 3px;
    left: 8px;
    width: 6px;
    height: 12px;
    border: 1px solid $color-primary;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
}

.form-section {
    min-height: 100vh;
    padding: 90px 0px;
    position: relative;
    z-index: 1;
    background-color: $color-primary-light2;
    overflow: hidden;
    @include lg-down-device {
        height: auto;
    }

    .form-bg{
        position: absolute;
        left: 0;
        top: 0;
        bottom: 0;
        max-width: 50%;
        z-index: -1;
        @include lg-down-device{
            max-width: 100%;
        }
        &::before {
            content: '';
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            background: rgba(0,0,0,0.7);
        }
        img{
            min-height: 100%;
            max-height: 100%;
            object-fit: cover;
        }
    }

    @include flex(center);
    flex-direction: column;

    .form-wrap {
        height: 100vh;
        @include lg-down-device {
            height: auto;
        }
    }
    .eth-icon{
        position: absolute;
        bottom: 90px;
        right: 50px;
        width: 60px;
        opacity: 0.1;
        z-index: -1;
    }
    .ada-icon{
        position: absolute;
        top: 0;
        right: 50px;
        width: 60px;
        opacity: 0.1;
        z-index: -1;
    }
    .sol-icon{
        position: absolute;
        top: -80px;
        left: 50px;
        width: 60px;
        opacity: 0.1;
        z-index: -1;
    }
    .bnb-icon{
        position: absolute;
        bottom: -90px;
        left: 50px;
        width: 60px;
        opacity: 0.1;
        z-index: -1;
    }
}

.another-singup {
    text-align: center;

    .or {
        padding: 30px 10px;
        position: relative;
        display: block;
        z-index: 4;
        background-color: #fff !important;

        &::before{
            content: '';
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            height: 1px;
            width: 100%;
            background: linear-gradient(90deg, #dadce0,transparent,#dadce0);
            z-index: -2;
            display: block;
        }
    }

    h6{
        margin-bottom: 20px;
    }
}
.form-social{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
    a{
        i {
            font-size: 20px;
            vertical-align: middle;
            border-radius: 50%;
            line-height: 1;
            min-width: 45px;
            height: 45px;
            line-height: 46px;
            display: inline-block;
            transition: 0.4s ease;
            &.google{
                color: rgb(233,66,52);
                background-color: rgba(233,66,52,0.1);
                &:hover{
                    background-color: rgb(233,66,52);
                    color: $color-white;
                }   
            }
            &.facebook{
                color: rgb(23,115,234);
                background-color: rgba(23,115,234,0.1);
                &:hover{
                    background-color:rgb(23,115,234);
                    color: $color-white;
                } 
            }
            &.linkedin{
                color: rgb(1,115,175);
                background-color: rgba(1,115,175,0.1);
                &:hover{
                    background-color:rgb(1,115,175);
                    color: $color-white;
                } 
            }
        }
    }
}

.form-left{
    width: 100%;
    max-width: 650px;
    margin: 0 auto;
    padding: 0px 10px;
    text-align: center;

    .logo{
        max-width: 200px;
        margin: 0 auto 40px;
        display: inline-block;

        @include md-down-device{
            max-width: 150px;
        }
    }
    h1{
        font-size: 55px;
        color: $color-white;
        margin-bottom: 20px;
        line-height: 1.1;

        @include xl-device{
            font-size: 45px;
        }
        @include lg-device{
            font-size: 45px;
        }
        @include lg-down-device{
            font-size: 35px;
        }
    }
    p{
        color: $color-white;
        opacity: 0.8;
    }
    h6{
        color: $color-white;
        font-size: 18px;
    }
    #countdown{
        margin-top: 40px;
    }
    .count-down-list{
        margin-top: 20px;
        display: flex;
        justify-content: center;
        flex-direction: row;
        align-items: center;
        gap: 15px;
        li{
            padding: 8px;
            border: 1px solid rgba(255,255,255,0.4);
            min-width: 85px;
            text-align: center;
            color: $color-white;
            font-size: 14px;
        }
        span{
            display: block;
            font-size: 22px;
            color: $color-white;
            font-weight: 500;
        }
}   
}