
@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

:root {
  color-scheme: light;
  --font-primary: 'Kanit', sans-serif;
  --font-secondary: 'Kanit', sans-serif;
  --color-primary: #fe710d;
  --color-primary-light: rgba(234, 125, 24,0.2);
  --color-primary-light-2: rgba(234, 125, 24,0.08);
  --color-primary-text: #ffffff;
  --text-primary: #150801;
  --text-secondary: #777;
  --text-light: #b7b7b7;
  --color-border: #dadce0;
  --border-primary: rgba(234, 125, 24,0.4);
  --border-light:rgba(255,255,255,.2);
  --color-white: #fff;
  --color-gray-1: #eff2f7;
  --color-dark: #101010;
  --bg-light: #f9f9f9;
  --site-bg: #ffffff;
  --card-bg: #fff;
  --topbar-bg: #fff;
  --sidebar-bg: #fff;

  --gradient-1: rgb(58,8,0);
  --gradient-2: rgb(130, 85, 8);
  --gradient-3: rgb(255, 193, 7);
}


// SASS ROOT VARIABLES
$font-primary: var(--font-primary);
$font-secondary: var(--font-secondary);
$color-primary: var(--color-primary);
$color-primary-light: var(--color-primary-light);
$color-primary-light2: var(--color-primary-light-2);
$color-primary-text: var(--color-primary-text);
$text-primary: var(--text-primary);
$text-secondary: var(--text-secondary);
$text-light: var(--text-light);
$color-border: var(--color-border);
$border-primary: var(--border-primary);
$border-light: var(--border-light);
$color-gray-1: var(--color-gray-1);
$color-dark: var(--color-dark);
$color-white: var(--color-white);
$site-bg: var(--site-bg);
$card-bg: var(--card-bg);
$topbar-bg: var(--topbar-bg);
$sidebar-bg: var(--sidebar-bg);
$bg-light: var(--bg-light);

$color-success: var(--color-success);
$color-success-light: var(--color-success-light);
$color-danger: var(--color-danger);
$color-danger-light: var(--color-danger-light);
$color-warning: var(--color-warning);
$color-warning-light: var(--color-warning-light);
$color-info: var(--color-info);
$color-info-light: var(--color-info-light);

$gradient-1: var(--gradient-1);
$gradient-2: var(--gradient-2);
$gradient-3: var(--gradient-3);

// same gradient as 1,2,3 but will not change in dark mood
$gradient-4: var(--gradient-4);
$gradient-5: var(--gradient-5);
$gradient-6: var(--gradient-6);

* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: $text-primary;
  margin-bottom: 0;
  font-family: $font-secondary;
  font-weight: 500;
  line-height: 1.25;
}

h4 {
  font-size: 24px;
}

p {
  color: $text-secondary;
}
r a,
a:active,
a:visited,
a:link {
  text-decoration: none;
}
ul,
ol,
li {
  padding: 0;
  margin: 0;
  list-style-type: none;
}
body {
  display: flex;
  flex-direction: column;
  line-height: 1.55;
  font-family: $font-primary;
  font-weight: 300;
  color: $text-secondary;
  font-size: 16px;

  @include md-down-device {
    font-size: 15px;
  }
}
img {
  max-width: 100%;
  height: auto;
  display: block;
}
button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}
.cursor-pointer {
  cursor: pointer;
}

.pt-110 {
  padding-top: 110px;
  @include md-down-device {
    padding-top: 80px;
  }
}

.pb-110 {
  padding-bottom: 110px;
  @include md-down-device {
    padding-bottom: 80px;
  }
}

.pt-90 {
  padding-top: 90px;
}
.pb-90 {
  padding-bottom: 90px;
}

.i-badge {
  border-radius: 0px;
  display: inline-block;
  padding: 5px 12px;
  font-size: 12px;
  font-weight: 500;
  line-height: 1;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  transition: 0.3s ease;
  @include transition-3;

  &.capsuled {
    border-radius: 50px;
  }
  &.btn--success{
    background-color: rgb(5, 163, 5);
    color: $color-white;
  }
  &.btn--danger{
    background-color: rgb(232, 10, 10);
    color: $color-white;
  }
}

.simplebar-scrollbar:before {
  background: #5a5a5a9c;
}

// Buttons Css
button {
  outline: none;
  border: none;
}
.i-btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-family: $font-primary;
  font-weight: 400;
  line-height: 1;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  border-radius: 0px;
  transition: 0.35s;
  line-height: 1;
  white-space: nowrap;

  &.capsuled {
    border-radius: 50px;
  }

  &.btn--primary {
    background-color: $color-primary;
    color: $color-white;
    transition: all 0.5s ease-in-out;
    overflow: hidden;
    position: relative;
    z-index: 1;
    &:hover {
      &::before {
        width: 100%;
        opacity: 1;
      }
      &::after {
        width: 100%;
        opacity: 1;
      }
    }
    &::before {
      content: "";
      display: block;
      width: 100%;
      height: 50%;
      position: absolute;
      left: 0;
      top: 0px;
      background: $color-dark;
      width: 30%;
      @include transition-5;
      z-index: -1;
      opacity: 0;
    }
    &::after {
      content: "";
      display: block;
      width: 100%;
      height: 50%;
      position: absolute;
      right: 0;
      bottom: 0px;
      background: $color-dark;
      width: 30%;
      @include transition-5;
      z-index: -1;
      opacity: 0;
    }
  }

  &.btn--primary-outline{
    color: $color-primary;
    border: 1px solid $color-primary;
    background-color: transparent;
    position: relative;
    z-index: 1;
    overflow: hidden;
    &:hover{
      color: $color-white;
      border: 1px solid $color-dark;
      &::before{
        width: 100%;
      }
      &::after{
        width: 100%;
      }
    }
    &::before { 
      content: "";
      display: block;
      width: 100%;
      height: 50%;
      position: absolute;
      left: 0;
      top: 0px;
      background: $color-dark;
      width: 0px;
      @include transition-4;
      z-index: -1;
    }
    &::after {
      content: "";
      display: block;
      width: 100%;
      height: 50%;
      position: absolute;
      right: 0;
      bottom: 0px;
      background: $color-dark;
      width: 0px;
      @include transition-4;
      z-index: -1;
    }
  }

  &.btn--secondary {
    background-color: $text-primary;
    color: $color-white;
  }


  &.btn--sm {
    padding: 9px 15px;
    font-size: 14px;

    @include md-down-device {
      padding: 6px 12px;
    }
  }

  &.btn--md {
    padding: 12px 20px;
    font-size: 16px;
    @include md-down-device {
      padding: 10px 14px;
    }
  }

  &.btn--lg {
    padding: 16px 28px;
    font-size: 18px;

    @include md-down-device {
      padding: 12px 20px;
    }
  }
  &.capsuled{
    border-radius: 50px;
  }
}

.read-more-btn {
  color: $text-primary;
  font-weight: 600;

  i {
    font-size: 16px;
    width: 40px;
    height: 40px;
    line-height: 40px;
    border-radius: 50%;
    background-color: $color-primary;
    text-align: center;
    margin-left: 15px;
    transition: 0.6s ease;
    color: $color-white;
    transform: rotate(0deg);
  }

  &:hover {
    i {
      transform: rotate(45deg);
    }
  }
}

.mb-60 {
  margin-bottom: 60px;
  @include md-down-device {
    margin-bottom: 45px;
  }
}
.mb-90 {
  margin-bottom: 90px;
  @include md-down-device {
    margin-bottom: 60px;
  }
}
.mb-50 {
  margin-bottom: 50px;
}
.mb-40 {
  margin-bottom: 40px;
}

.mb-30 {
  margin-bottom: 30px;
}

.mb-20 {
  margin-bottom: 20px;
}

.mb-10 {
  margin-bottom: 10px;
}

.mt-50 {
  margin-top: 50px;
}
.mt-40 {
  margin-top: 40px;
}
.mt-30 {
  margin-top: 30px;
}
.mt-20 {
  margin-top: 20px;
}
.mt-10 {
  margin-top: 10px;
}

// section-title

.section-title {
  position: relative;
  display: inline-block;

  &.style-two{
    h2{
      color: $color-white;
    }
    p{
      color: $color-white;
      opacity: 0.8;
    }
  }


  h2 {
    font-size: 50px;
    font-weight: 500;
    margin-bottom: 10px;
    margin-top: -7px;
    position: relative;
    display: inline-block;

    &::before{
      content: '';
      position: absolute;
      left: -10px;
      top: -5px;
      width: 50px;
      height: 50px;
      background-color: $color-primary-light;
      border-radius: 50%;
      z-index: -1;

      @include lg-down-device{
        left: 0;
      }
  }

    @include md-down-device {
      font-size: 30px;
    }
    @include md-device {
      font-size: 34px;
    }
    @include xl-device {
      font-size: 40px;
    }
  }
  P {
    margin-bottom: 0px;
    font-size: 16px;
    color: $text-secondary;
  }
}

// Linear Background
.linear-bg{
  @include linear-bg;
}

.img-adjust {
  background-size: cover !important;
  background-repeat: no-repeat;
  background-position: center center;
}
.bg-linear-light {
  @include linear-bg-light;
}


.modal-content {
  background-color: $site-bg;
  .modal-header {
    border-bottom: 1px solid $text-secondary;
  }
}

.offcanvas {
  background-color: $site-bg !important;
  color: $text-secondary;

  .offcanvas-header{
    @include linear-bg;

    i{
      color: $color-white;
    }
  }
}

.closer-btn {
  @include square(26px, 50%);
  line-height: 1;
  font-size: 20px;
  background-color: transparent;
}

// Language dropdown
.dropdown-language {


  .dropdown {
    .lan-select {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      gap: 8px;
      cursor: pointer;
      .flag-icon {
        line-height: 16px;
        &.flag-icon-squared {
          width: 16px;
        }
      }
    }

    .dropdown-menu {
      color: $text-primary;
      background-color: $site-bg;
      background-clip: padding-box;
      border-radius: 0;
      border: none;
      box-shadow: 0 0 10px rgba(0,0,0,0.1);
      .dropdown-item {
        color: $text-primary;
        display: flex;
        align-items: center;
        gap: 10px;
        &:hover {
          color: $text-primary;
          background-color: $color-gray-1;
        }
      }
      li{
        margin-bottom: 10px;

        &:last-child{
          margin-bottom: 0;
        }
        a{
          span{
            line-height: 1;
          }
        }
      }
    }
  }
}

.user-dropdown {
  .dropdown {
    .user-dropdown-meta {
      display: flex;
      align-items: center;
      gap: 10px;
      cursor: pointer;
      .user-img {
        @include square(30px, 50%);
      }
    }
    .dropdown-menu {
      background-color: $site-bg;
      border-radius: 0;
      border: none;
      li {
        &:first-child {
          background-color: $color-primary-light;
          color: $color-primary-text;
          margin-bottom: 10px;
          span {
            padding: 5px 20px;
            display: block;
            border-bottom: 1px solid $color-primary;
          }
        }
        .dropdown-item {
          color: $text-primary;
          padding: 5px 20px;
          display: flex;
          align-items: center;
          gap: 10px;
          &:hover {
            background-color: $color-gray-1;
          }
        }
      }
    }
  }
}

.service-tab-wrapper{
  .tab-pane{
    display: none;
    &.active{
      display: block;
      animation: fadesmooth 1s;
    }
  }
}
@keyframes fadesmooth {
  0%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}

/*Video btn*/
.video-pluse {
  height: 45px;
  width: 45px;
  text-align: center;
  line-height: 50px;
  background: $color-primary;
  color: var(--color-primary);
  border-radius: 50%;
  cursor: pointer;
  position: relative;

  span {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: $color-primary;
    border-radius: 50%;
    display: inline-block;
    animation: video-pulse 3s linear infinite;
    animation-delay: calc(-0.5s * var(--i));

    @keyframes video-pulse {
      0% {
        transform: scale(1);
        opacity: 0.5;
      }
      100% {
        transform: scale(2.2);
        opacity: 0;
      }
    }
  }
 
  i {
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color:  $color-white;
  }
}

.bg-color{
  background-color: $color-dark;
}

/*=======================================
 04.Magic Cursor
=======================================*/
#magic-cursor {
  position: absolute;
  display: none;
  width: 25px;
  height: 25px;
  pointer-events: none;
  z-index: 99999;
  opacity: 0;
  padding: 20px;
}
body.tt-magic-cursor #magic-cursor {
  display: block;
}
#ball {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--color-white);
  pointer-events: none;
  border-style: solid;
  border-radius: 50%;
  background-color: var(--color-primary-light);
  border-color: var(--color-primary-light);
  /* Note: border width handled through JS */
}
.cursor-style-two{
  border-radius: 0% !important;
  background-color: var(--color-white) !important;
  color: #000 !important;
  padding: 15px;
}
/* Ball view
============= */
#ball.ball-view {
  background-color: #000;
  font-size: 16px;
  font-weight: 500;
  color: var(--color-white);
  line-height: 1.2;
  text-align: center;
}
#ball .ball-view-inner {
  padding: 0 0px;
  opacity: 0;
  visibility: hidden;
  transform: scale(0);
  font-size: 16px;
}

/* Ball drag
============= */
#ball .ball-drag {
  position: absolute;
  display: block;
  width: 100%;
  padding: 0 0px;
  font-size: 15px;
  font-weight: 600;
  color: var(--color-white);
  line-height: 1.2;
  text-align: center;
  transition:  0.3s;
}
#ball .ball-drag::before,
#ball .ball-drag::after {
  position: absolute;
  top: 50%;
  margin-top: -5px;
  font-size: 16px;
  color: var(--color-white);
  height: 15px;
  line-height: 15px;
  /* Font Awesome */
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
}
#ball .ball-drag::before {
  content: "\f060"; /* Font Awesome */
  left: 0;
  transform: translate3d(-30px, 0, 0);
  transition:  0.35s;
}
#ball .ball-drag::after {
  content: "\f061"; /* Font Awesome */
  right: 0;
  transform: translate3d(30px, 0, 0);
  transition:  0.35s;
}
/* Ball close
============== */
#ball.ball-close-enabled {
  opacity: 1 !important;
}
#ball .ball-close {
  position: absolute;
  padding: 0 0px;
  font-size: 14px;
  font-weight: 600;
  color: var(--color-white);
  line-height: 1;
  text-align: center;
}
/* Magnetic cursor
=================== */

// Nav style

.nav-style-one{
  ul.nav{
    border-bottom: unset;
    li{
      a.nav-link{
        border-radius: 0px;
        min-width: 130px;
        border: 1px solid $color-primary;
        padding: 12px 25px !important;
        text-align: center;
        font-size: 18px;
        font-weight: 400;
        color: $text-primary;

        &.active{
          background-color: $color-primary;
          color: $color-white;
        }
      }
    }
  }
}

.nav-style-two{
  ul.nav{
    border-bottom: unset;
    gap: 10px;
    li{
      a.nav-link{
        min-width: 130px;
        border: 1px solid $color-primary;
        padding: 9px 18px !important;
        text-align: center;
        font-size: 16px;
        font-weight: 400;
        border-radius: 30px;
        color: $text-primary;

        &.active{
          background-color: $color-primary;
          color: $color-white;
        }
      }
    }
  }
}
.nav-style-three{
  ul.nav{
    border-bottom: unset;
    gap: 10px;
    li{
      a.nav-link{
        min-width: 130px;
        border: 1px solid $bg-light;
        background-color: $bg-light;
        padding: 9px 18px !important;
        text-align: center;
        font-size: 16px;
        font-weight: 400;
        border-radius: 30px;
        color: $text-primary;
        &:hover{
          background-color: $color-primary;
          color: $color-white;
        }

        i{
          margin-right: 5px;
          font-size: 14px;
        }

        &.active{
          background-color: $color-primary;
          color: $color-white;
        }
      }
    }
  }
}

.swiper{
  padding: 12px;
  margin: -12px;
}

.card-pagination{
  text-align: center;
  margin-top: 40px;
  .swiper-pagination-bullet{
    width: 18px;
    height: 18px;
    border-radius: 10px;
    background-color: $color-primary;

    &.swiper-pagination-bullet-active{
      background-color: $color-primary;
    }
  }
}
.pagination{
  gap: 15px;
  .page-item{
    &:first-child{
      .page-link{
        border-radius: 30px;
      }
    }
    &:last-child{
      .page-link{
        border-radius: 30px;
      }
    }
  }

  .page-link{
    padding: 12px 16px !important;
    line-height: 1;
    min-width: 42px;
    border-radius: 50%;
    text-align: center;
    color: $text-primary;
    font-size: 15px;
    transition: 0.4s ease;
    background-color: $bg-light;
    &:focus{
      box-shadow: unset;
    }
    &:hover{
      background-color: $color-primary;
      color: $color-white;
      border: 1px solid $color-primary;
    }
    &.active{
      background-color: $color-primary;
      color: $color-white;
      border: 1px solid $color-primary;
    }
  }
}
